html, body {
  height: 100%;
  background-image: url('./music background.png');
  background-size: contain;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
}
  
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  background-color: hsla(0, 0%, 0%, 0.75);
}

nav > a {
  background-color: tomato;
  color: rgb(0, 100, 0);
  height: 25%;
  padding: 1%;
  border-radius: 15px;
  text-align: center;
}

nav > a:hover {
  color: white;
  background-color: crimson;
  transition-duration: 500ms;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
}

li > p {
  margin: 0.25% 0;
}

div.reviewEdit > form, div.reviewShow {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 25px;
  padding: 1%;
  left: 0;
}

div.reviewEdit, div.reviewShow {
  margin-top: 10%;
}

div.review > form.delete {
  margin-top: 1%;
}

input {
  text-align: center;
  font-size: large;
}

input, textarea {
  background-color: rgb(50, 50, 50);
  border: 1px solid white;
  border-radius: 10px;
  color: whitesmoke;
}

input.submit:hover {
  color: black;
  background-color: crimson;
  transition-duration: 500ms;
}

li {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 25px;
}

li > a, div > a {
  color: rgb(0, 100, 0);
}

li > a:hover, div > a:hover {
  color: white;
  transition-duration: 500ms;
}

div.reviewShow > h1, div.reviewShow > h2, div.reviewShow > p, div.reviewShow > a {
  margin: 0.25%;
}