html, body {
  height: 100%;
  background-image: url('./music background.png');
  background-size: contain;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
}
  
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  background-color: hsla(0, 0%, 0%, 0.75);
}

nav > a {
  background-color: tomato;
  color: rgb(0, 100, 0);
  height: 25%;
  padding: 1%;
  border-radius: 15px;
  text-align: center;
}

nav > a:hover {
  color: white;
  background-color: crimson;
  transition-duration: 500ms;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
}

li > p {
  margin: 0.25% 0;
}

div.review {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  border-radius: 25px;
  padding: 1%;
  left: 0;
}

li {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 25px;
}

li > a {
  color: rgb(0, 100, 0);
}

li > a:hover {
  color: white;
  transition-duration: 500ms;
}

div.review > h1, div.review > h2, div.review > p {
  margin: 0.25%;
}